
#tablaDate {
	border: none;
	box-shadow: 0px 0px 5px 3px rgba(107, 104, 104, 0.1411764705882353);
	text-transform: uppercase;
}

#tablaDate thead tr {
	background-color: #2F2F2F !important;
	color: #fff;
	border: none;
}

#tablaDate tbody tr {
	border: none;
}

#tablaDate tr:hover {

	background-color: #BABABA;
}


#tablaDate tbody tr td {
	border: none;
	border-bottom: 1px solid #008d4c;
}

.btn_table {
	border: none;
	line-height: 6px;
	padding: 2px;
	background: transparent !important;
	border-radius: 2px;
}

.btn_table i {
	font-size: 18px;
	color: #040404;
}

#tablaDate_wrapper input {
	border: none;
	box-shadow: 0px 0px 5px 3px rgba(107, 104, 104, 0.1411764705882353);
	height: 32px;
	padding: 5px;
	margin-left: 15px;
}

#tablaDate_wrapper select {
	height: 30px;
	text-align: center;
	padding-left: 10px;
	margin: 2px 10px;
	border: none;
	box-shadow: 0px 0px 5px 3px rgba(107, 104, 104, 0.1411764705882353);
}

#tablaDate_filter {
	margin: 5px;
}

#tablaDate_wrapper {
	margin-top: 10px;
}

table.dataTable thead th,
table.dataTable thead td {
	padding: 10px 18px;
	border-bottom: 1px solid transparent !important;
}